@import '../../../../../style/abstracts/all';

.AppHeader {
  width: 100%;
  position: fixed;
  top: 0;
  background: $spotify-black-color;
  border-bottom: 2px solid lighten($spotify-black-color, 5%);
  z-index: 5;

  &__container {
    @include lock-container();
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $base-spacements-size * 2 $base-spacements-size * 4;
    box-sizing: border-box;
  }

  &__logo {
    height: 40px;
  }

  &__logout {
    margin-left: auto;
  }
}
