@import '../../../style/abstracts/all';

.Filters {
  &__title {
    padding-bottom: $base-spacements-size/2;
    margin-top: 0;
    margin-bottom: $base-spacements-size * 2;
    border-bottom: 1px solid $base-border-color;
  }

  &__fields {
    display: flex;
    flex-wrap: wrap;
  }

  &__field {
    display: flex;
    flex-direction: column;
    margin-left: $base-spacements-size * 2;

    &:first-child {
      margin-left: 0;
    }

    @media (max-width: 600px) {
      width: 100%;
      margin-top: $base-spacements-size;
      margin-left: 0;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__input {
    padding: $base-spacements-size;
    border: 0;
    border-radius: $base-spacements-size;
  }
}
