@import '../../../style/abstracts/all';

.App {
  background-color: $spotify-black-color;
  font-size: calc(10px + 2vmin);
  color: $spotify-white-color;

  &__body {
    padding: $header-height $base-spacements-size * 4;
  }
}
