@import '../../../../../style/abstracts/all';

.SectionHeader {
  display: flex;
  align-items: center;
  padding-bottom: $base-spacements-size/2;
  margin-bottom: $base-spacements-size * 2;
  border-bottom: 1px solid $base-border-color;

  &__title {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__info {
    font-size: 16px;
    text-transform: uppercase;
    margin-left: auto;
  }
}
