@import 'colors';
@import 'spacements';

$header-height: 80px + $base-spacements-size * 4;

@mixin field-input() {
  width: 100%;
  padding: $base-spacements-size;
  border: 0;
  border-radius: $base-spacements-size;
  box-sizing: border-box;
  outline: none;
}
