@import 'colors';
@import 'spacements';

$header-height: 40px + $base-spacements-size * 2;

@mixin field-input() {
  width: 100%;
  padding: $base-spacements-size;
  border: 0;
  border-radius: $base-spacements-size;
  box-sizing: border-box;
  outline: none;
}

@mixin lock-container() {
  width: 1200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
