@import '../../../../../style/abstracts/all';

.Button {
  display: inline-flex;
  align-items: center;
  padding: $base-spacements-size $base-spacements-size * 2;
  border: 0;
  border-radius: 500px;
  font-weight: bold;
  background: $spotify-green-dark-color;
  color: $spotify-white-color;
  cursor: pointer;
  transition: background 400ms;

  &__icon {
    margin-right: $base-spacements-size;
    height: 32px;
  }

  &:hover {
    background: $spotify-green-color;
  }

  &--secondary {
    background: $spotify-white-color;
    color: $spotify-green-color;

    &:hover {
      background: darken($spotify-white-color, 10%);
    }
  }
}
